<!Doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title></title>
	</head>
	<body>
		<h1>The products</h1>
		</br>
		
		<% for (let i = 0; i < products.length; i++){ %>
			<a href='/products/<%= i %>'>
				This <%= products[i].name %> costs <%= products[i].price %> dollars
			</a></br>
			<img src='<%= products[i].img%>'></img></br>
		<%}%>
	</body>
</html>
