<!Doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title></title>
	</head>
	<body>
		<a href ='/products'>See all</a>
		<h1>The product</h1>
		This <%= product.name %> costs <%= product.price %></br>
		<img src='<%= product.img%>'></img>
	</body>
</html>
